/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --main-text-color: #F1B2CE;
  --main-background-color: #000028;
  --text-shadow: #FF0070;
  --header-title: #DB00FF;
  --dark-theme: url(/images/cover-image-dark.png);
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-text-color: #F1B2CE;
    --main-background-color: #000028;
    --text-shadow: #FF0070;
    --header-title: #DB00FF;
  }
}