/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --main-text-color:#F1B2CE;
  --main-background-color:#000028 ;
  --text-shadow:#FF0070;
  --header-title:#DB00FF;
}

@media (prefers-color-scheme: light) {
  :root {
    --main-text-color:#F1B2CE;
    --main-background-color:#000028 ;
    --text-shadow:#FF0070;
    --header-title:#DB00FF;
  }

}

.theme_dark .header__rec {
  display: block;
}
.theme_dark .header{
background-image: url(/images/cover-image-dark.png);
}



