/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
.page.theme_light {
  --main-text-color:#353430;
  --main-background-color: #FFF1F7 ;
  --text-shadow:#FF0070;
  --header-title:#FF8DCB;
}

@media (prefers-color-scheme: light) {
  :root {
  --main-text-color:#353430;
  --main-background-color: #FFF1F7 ;
  --text-shadow:#FF0070;
  --header-title:#FF8DCB;
  }

}

.theme_light .header{
 background-image: url(/images/cover-image-light.png);
}
.theme_light .rec {
  display: none;
}
.theme_light .header__theme-menu-button_active{
  border:var(--main-text-color) solid 1px ;
}
.theme_light .header__theme-menu-button:hover{
  border:var(--main-text-color, 0.4) solid 1px ;
  outline: none;
}
.theme_light .description_link{
  text-shadow:2px 2px var(--header-title);
}
.theme_light .header__theme-menu-button{
  color: var(--main-text-color);
}
.theme_light .article__title{
  color: var(--main-text-color);
  background-color: var(--header-title);
}
.theme_light .header_description{
  color: var(--main-text-color);
  background-color: var(--header-title);
}
.theme_light .main-question-title{
  color: var(--main-text-color);
}
