/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root{
 --s: 375px;
 --m: 768px;
 --l: 1200px;

}
:root.theme-dark {
  --text_shadow_color:#FF0070;
  --text_title_color:#DB00FF;
  --main_color:#000028;
  --text-description_color:#F1B2CE;
  --excretory_color:#FF0070;
}